        @charset 'UTF-8';
        @font-face {
            font-family: 'Yu Gothic';
            src: url("public/assets/fonts/yugothil.ttf");
        }
        
        @font-face {
            font-family: 'Yu Mincho';
            src: url("public/assets/fonts/yumin.ttf");
        }
        
        @font-face {
            font-family: 'CormorantGaramond';
            src: url("public/assets/fonts/CormorantGaramond-Regular.ttf");
        }
        
        @font-face {
            font-family: 'OpenSansRegular';
            src: url("public/assets/fonts/OpenSans-Regular.ttf");
        }
        
        @font-face {
            font-family: 'Jomolhari';
            src: url("public/assets/fonts/Jomolhari.ttf");
        }
        
        @font-face {
            font-family: 'OranienbaumRegular';
            src: url("public/assets/fonts/Oranienbaum-Regular.ttf");
        }
        
        @font-face {
            font-family: 'MyriadproRegular';
            src: url("public/assets/fonts/MYRIADPRO-REGULAR.woff");
        }
        
        html,
        html * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
        }
        
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        
        a,
        a:visited {
            text-decoration: none;
            color: inherit;
        }
        
        header {
            font-family: 'Yu Gothic';
            display: flex;
            justify-content: space-between;
            color: #ffffff;
        }
        
        .header {
            position: fixed;
            padding: 10px 35px;
            background-color: transparent;
            z-index: 1000;
            top: 0;
            width: 100%;
        }
        
        .header .left-header {
            margin-top: 30px;
        }
        
        .header .right-header {
            display: flex;
            flex-direction: column;
        }
        
        .header .left-header .logo-container {
            float: left;
            margin: 7px 20px 0 -7px;
        }
        
        .header .left-header .biz-name p:first-child {
            font-size: 1.3em;
        }
        
        .header .left-header .biz-name p:last-child {
            font-family: OpenSansRegular;
            font-size: 0.7em;
        }
        
        .header .right-header .header-contact .phone-container {
            font-family: Jomolhari;
            font-size: 1.5em;
        }
        
        .header .right-header .header-contact .working-container {
            font-size: 0.8em;
        }
        
        .header .right-header .header-contact {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
        
        .header-contact .phone-container .image-container {
            float: left;
            padding-right: 10px;
        }
        
        .header-contact div:not(:last-child) {
            padding-right: 20px;
        }
        
        .header-contact .phone-container p {
            float: right;
        }
        
        .biz-name {
            float: right;
        }
        
        .site-logo {
            float: left;
            width: 80px;
            height: 100%;
            position: relative;
            display: block;
        }
        
        .site-logo img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .site-nav-open {
            display: none;
        }
        
        .site-nav-close {
            display: none;
        }
        
        .site-nav {
            width: auto;
            padding: 16px 0 8px 8px;
        }
        
        .site-header.is-showing-site-nav .site-nav {
            display: block;
        }
        
        .site-nav ul li:not(.invisible) {
            display: inline-block;
            margin-right: 80px;
        }
        
        .site-nav ul li.invisible {
            display: none;
        }
        
        .site-nav ul li:last-child {
            margin-right: 0;
        }
        
        .site-nav ul li a {
            font-size: 0.94em;
            font-weight: 400;
            padding-bottom: .5em;
            text-decoration: none;
            letter-spacing: .15em;
            text-transform: uppercase;
            -webkit-transition: color .3s;
            transition: color .3s;
        }
        
        .site-nav ul li a:hover,
        .site-nav ul li a:focus {
            color: #ff8f34;
        }
        
        .top,
        .product,
        .staff {
            position: relative;
        }
        
        .top {
            height: calc(var(--vh, 1vh) * 100);
        }
        
        .product {
            height: 600px;
            color: #ffffff;
        }
        
        .top-background,
        .product-background {
            height: 100%;
        }
        
        .top-background div {
            width: 100%;
            height: 100%;
            background-image: url("public/assets/img/top_main_01.jpg");
        }
        
        .tool-container {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        
        .tool-items {
            display: flex;
            flex-direction: column;
            background-color: #000;
        }
        
        .tool-item {
            width: 190px;
            height: 60px;
            text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
        
        .tool-item .tool-item-text {
            color: #ffffff;
        }
        
        .tool-item .tool-item-icon {
            padding: 0 15px;
        }
        
        .top-title-container {
            position: absolute;
            bottom: 0;
            left: 0;
            color: #ffffff;
            padding: 0 0 60px 80px;
        }
        
        .top-title-container .top-title .top-title-en {
            font-family: OranienbaumRegular;
            font-size: 110px;
            line-height: 0.5;
            margin-bottom: 50px;
        }
        
        .top-title-container .top-title .top-title-jp {
            font-family: Yu Mincho;
            font-size: 26px;
            line-height: 0.5;
        }
        
        .product-background div {
            width: 100%;
            height: 100%;
            background-image: url("public/assets/img/top_product_bg.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        
        .product-content {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #ffffff;
        }
        
        .product-content .product-content-btn button {
            width: 300px;
            height: 50px;
            background-color: #ffffff;
            border: 0;
        }
        
        .product-content .product-content-btn .product-more-btn {
            font-family: OranienbaumRegular;
            font-size: 16px;
        }
        
        .content-heading {
            font-family: OranienbaumRegular;
            font-size: 50px;
        }
        
        .content-sub-heading {
            font-family: Yu Mincho;
            font-size: 16px;
        }
        
        .product-content .product-content-sub-heading {
            margin: 10px 0 50px 0;
        }
        
        .product-content .product-content-text {
            font-size: 14px;
            margin-bottom: 50px;
        }
        
        .section-title-container {
            text-align: center;
            padding: 140px 0px 100px;
        }
        
        .section-content-container {
            margin: 0px 50px;
        }
        
        .event,
        .showroom {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .event-content-items {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .event-content-item {
            border-top: 2px solid grey;
            padding: 40px 0;
        }
        
        .event-border-bottom {
            border-bottom: 2px solid grey;
        }
        
        .event-text-container {
            padding: 0 30px;
            overflow: hidden;
        }
        
        .event-img-container {
            float: left;
            width: 180px;
            height: 180px;
        }
        
        .event-content-item .event-text-container .event-name {
            margin-bottom: 5px;
            font-family: Yu Mincho;
            font-size: 21px;
        }
        
        .event-content-item .event-text-container p {
            font-family: Yu Mincho;
            font-size: 13px;
        }
        
        .event-content-item .event-text-container .title {
            font-size: 20px;
            line-height: 2;
        }
        
        .section-more-container {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 300px;
            height: 50px;
            border-top: 2px solid grey;
            border-bottom: 2px solid grey;
            margin-top: 50px;
            font-family: MyriadproRegular;
        }
        
        .section-more-container p {
            flex: 1;
        }
        
        .section-more-container div {
            margin-left: auto;
            margin-right: 10px;
        }
        
        .showroom-content-items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 60px;
        }
        
        .showroom-content-item {
            display: flex;
            flex-direction: column;
            width: 405.333px;
        }
        
        .showroom-content-item .showroom-text-container {
            margin-top: 10px;
            font-family: Yu Mincho;
            font-size: 15px;
        }
        
        .section-footer-container {
            width: 100%;
            padding: 0 50px;
            margin-top: 50px;
        }
        
        .section-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        .bottom-content-items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 120px;
        }
        
        .bottom-content-item {
            font-family: Yu Mincho;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #ffffff;
        }
        
        .bottom-content-item .bottom-text-container .bottom-text-head {
            font-size: 40px;
        }
        
        .bottom-content-item .bottom-text-container .bottom-text-content {
            font-size: 15px;
            text-align: left;
            margin-top: 20px;
        }
        
        .bottom-text-container {
            position: absolute;
            width: 400px;
        }
        
        .site-footer {
            width: 100%;
            min-width: 1140px;
        }
        
        .site-footer .footer-sitemap {
            width: 100%;
            display: flex;
            justify-content: space-around;
            line-height: 2.143;
        }
        
        .site-footer .footer-nav {
            margin: 50px 0;
        }
        
        .site-footer .footer-nav .icon::after {
            content: url("public/assets/img/icon_blank_footer_dark.png");
            padding-left: 5px;
        }
        
        .site-footer .nav-title {
            font-family: 'Yu Gothic';
            font-size: 0.88em;
            font-weight: 700;
        }
        
        .site-footer .nav-list {
            font-family: 'Yu Gothic';
            font-size: 0.81em;
            font-weight: 500;
        }
        
        .site-footer .footer-contact {
            padding: 30px 0;
            border-top: solid 1px #333333;
            border-bottom: solid 2px black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 50px;
        }
        
        .site-footer .contact-btn-group {
            display: flex;
        }
        
        .site-footer .message,
        .site-footer .reference {
            padding: 10px 10px;
        }
        
        .phone .phone-number {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            font-family: "Jomolhari";
            font-size: 2em;
            font-weight: 400;
        }
        
        .phone .phone-number::before {
            padding-right: 10px;
            content: url("public/assets/img/phone_icon_dark.png");
            vertical-align: middle;
        }
        
        .phone .business-hour {
            display: inline-block;
            vertical-align: middle;
            font-size: 13.229px;
        }
        
        .reference .icon {
            padding: 0 20px;
            background-image: url("public/assets/img/reference_icon_dark.png");
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .message .icon {
            padding: 0 20px;
            background-image: url("public/assets/img/message_icon_dark.png");
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .site-footer .footer-info {
            position: relative;
            padding: 30px 0 30px 0;
            display: flex;
            align-items: center;
            font-family: 'Yu Gothic';
            line-height: 2.143;
            margin: 0 50px;
        }
        
        .site-footer .footer-info .company {
            display: flex;
            align-items: center;
        }
        
        .site-footer .footer-info .logo {
            margin: 0 20px 0 0;
        }
        
        .site-footer .footer-info .address {
            margin: 0 20px;
        }
        
        .site-footer .footer-info .address .title {
            font-size: 0.88em;
            font-weight: 700;
        }
        
        .site-footer .footer-info .location {
            margin: 0 20px;
            font-size: 0.81em;
            font-weight: 400;
        }
        
        .site-footer .footer-info .location p::before {
            content: url("public/assets/img/map_pin.png");
            vertical-align: middle;
            padding-right: 8px;
        }
        
        .site-footer .footer-info .copyright {
            position: absolute;
            right: 0;
            font-family: "Oranienbaum";
            font-size: 0.81em;
            font-weight: 400;
        }
        
        .site-footer a:hover {
            opacity: 0.5;
        }
        
        @media (max-width: 767px) {
            .header {
                padding: 10px 10px;
            }
            .site-nav-open {
                display: block;
                border: none;
                background: none;
                width: 40px;
                margin-top: -12px;
                margin-right: -5px;
            }
            .site-nav {
                padding-top: 10px;
            }
            .site-nav-close {
                border: none;
                background: none;
                width: 30px;
                margin-left: auto;
            }
            .site-nav ul {
                text-align: center;
            }
            .site-nav ul li:not(.invisible),
            .site-nav ul li.invisible {
                display: block;
                margin-right: 0px;
                color: #000;
                font-size: 0.95em;
                margin: 0 auto 20px;
            }
            .header .right-header .header-contact {
                display: none;
            }
            .header .left-header {
                margin-top: 0;
            }
            .top-title-container .top-title .top-title-en {
                font-family: OranienbaumRegular;
                font-size: 55px;
                line-height: 0.5;
                margin: 0;
            }
            .top-title-container .top-title .top-title-jp {
                font-family: Yu Mincho;
                font-size: 13px;
                line-height: 0.5;
                margin-top: 30px;
            }
            .top-title-container {
                padding: 90px 25px;
            }
            nav,
            .tool-container {
                display: none;
            }
            .top-background div {
                width: 100%;
                height: 100%;
                background-image: url("public/assets/img/top_main_04_sp.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .product-background div {
                width: 100%;
                height: 100%;
                background-image: url("public/assets/img/top_product_bg_sp.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .staff-background img {
                content: url("public/assets/img/staff_sp.png");
            }
            .event-content-items {
                grid-template-columns: none;
            }
            .event-img-container {
                width: 90px;
                height: 90px;
            }
            .event-content-item .event-text-container .title {
                font-size: 20px;
                line-height: 1;
            }
            .event-content-item .event-text-container .location {
                margin-top: 10px;
            }
            .section-footer {
                display: none;
            }
            /* TODO: Change from column to row AND add slider JS */
            .showroom-content-items {
                grid-template-columns: none;
                /* grid- */
            }
            .bottom-content-items {
                grid-template-columns: none;
            }
            .bottom-content-item-01 img {
                content: url("public/assets/img/bottom_01_sp.png");
            }
            .bottom-content-item-02 img {
                content: url("public/assets/img/bottom_02_sp.png");
            }
            .bottom-content-item .bottom-text-container .bottom-text-head {
                font-size: 24px;
            }
            .bottom-content-item .bottom-text-container .bottom-text-content {
                font-size: 14px;
                text-align: left;
                margin: 10px 20px 0px 20px;
            }
            .site-footer {
                min-width: 375px;
                max-width: 767px;
            }
            .site-footer .footer-sitemap {
                padding-bottom: 0;
                border-top: none;
                border-bottom: none;
                flex-direction: column;
            }
            .site-footer .footer-nav {
                /*    float: none;*/
                margin: 0;
                padding: 0;
                border-top: solid 1px #333333;
                overflow: hidden;
            }
            .site-footer .footer-nav .nav-title {
                padding: 10px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .site-footer .footer-nav .nav-title i {
                width: 11px;
                /*	height: 11px;*/
            }
            .site-footer .footer-nav .nav-list {
                padding: 0;
                height: 0;
            }
            .site-footer .footer-nav .nav-list dd {
                padding: 0 0 10px 20px;
            }
            .site-footer .external-link .footer-nav:last-child {
                border-bottom: solid 1px #333333;
            }
            .site-footer .footer-nav .expand-btn {
                float: right;
                margin-right: 10px;
                content: url("public/assets/img/plus.png");
            }
            .site-footer .footer-nav .expand-btn.expanded {
                content: url("public/assets/img/minus_icon.png");
            }
            .site-footer .footer-contact {
                flex-direction: column;
            }
            .phone {
                display: block;
                width: 100%;
                float: none;
                margin: 0 auto 20px;
                text-align: center;
            }
            .phone .phone-number {
                margin: 0 0 10px;
                font-size: 33px;
            }
            .phone .business-hour {
                display: block;
                font-size: 12px;
            }
            .phone .business-hour p {
                display: inline-block;
            }
            .site-footer .contact-btn-group {
                width: 100%;
            }
            .site-footer .message,
            .site-footer .reference {
                float: none;
                padding: 10px 20px;
                border-top: solid 1px #333333;
                border-bottom: solid 1px #333333;
                border-left: solid 1px #333333;
                width: 50%;
            }
            .site-footer .message {
                border-right: solid 1px #333333;
            }
            .site-footer .footer-info {
                flex-direction: column;
            }
            .site-footer .footer-info .company {
                align-items: flex-start;
            }
            .site-footer .footer-info .location {
                padding: 10px 0;
            }
            .site-footer .footer-info .copyright {
                position: relative;
                padding: 10px 0;
                font-family: 'Oranienbaum';
                font-size: 0.69em;
                font-weight: 400;
            }
            .site-footer .footer-sitemap {
                margin: 50px 50px 0 50px;
                width: auto;
            }
            .invisible {
                display: none;
            }
        }