@charset 'UTF-8';
@font-face {
    font-family: 'Yu Mincho';
    src: url("public/assets/fonts/yumin.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("public/assets/fonts/roboto-medium.ttf");
}

@font-face {
    font-family: 'Roboto Light';
    src: url("public/assets/fonts/roboto-light.ttf");
}

@font-face {
    font-family: 'Yu Gothic';
    src: url("public/assets/fonts/yugothic.ttf");
}

@font-face {
    font-family: 'Open San';
    src: url("public/assets/fonts/OpenSans-Regular.ttf");
}

html,
html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Yu Gothic;
    font-size: 15px;
    font-weight: 900;
}

.header .header-container {
    display: flex;
    background-color: #fff;
    align-items: center;
    box-shadow: 0 3px 6px -4px #999;
    z-index: 999;
    position: fixed;
    width: 100%;
}

.header .header-container .header-logo {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.header .header-container .header-logo .logo {
    width: 78px;
    margin: 0 30px;
}

.logo-text {
    font-size: 14px;
}

.header .header-container .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 10px 0;
    flex-grow: 1;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 40px 30px;
    font-size: 12px;
    align-items: center;
}

.header-top>p {
    margin-right: 40px;
}

.header-top .language {
    font-family: Open San;
    font-size: 12px;
    width: 100px;
    height: 26px;
    background-color: #eee;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top .language .lang-icon {
    width: 14px;
    margin-right: 10px;
}

.header-nav .nav-links {
    margin-right: 20px;
}

.header-nav .nav-links li {
    display: inline-block;
    margin: 0 20px;
    font-size: 15px;
}

.site-nav-open {
    display: none;
}

.header-right {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.header-right .menu-contact {
    background-color: #0071be;
}

.header-right .menu-download {
    background-color: #4b4b4b;
}

.header-right .menu-contact .contact-icon,
.header-right .menu-download .download-icon {
    width: 25px;
    margin-right: 10px;
}

.header-right a {
    font-family: 'Yu Gothic';
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    max-width: 180px;
    height: 60px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .content {
    padding: 50px 150px;
    width: 100%;
}

footer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 150px 0
}

section .content .section-text {
    padding: 0px 120px 50px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

.prev-arrow {
    left: 20px;
    width: 60px;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: scaleX(-1);
}

.next-arrow {
    right: 20px;
    width: 60px;
    position: absolute;
    top: 50%;
}

.section-heading {
    font-family: Roboto;
    font-size: 40px;
    padding: 80px 0 50px;
    text-align: center;
}

.top-background-items>.slick-next {
    right: 0;
    z-index: 1;
}

.top-background-items>.slick-prev {
    left: 0;
    z-index: 1;
}

.top-background-items>.slick-dots {
    text-align: right;
    bottom: 10px;
    right: 10px;
}

.top-background-container .slick-dotted.slick-slider {
    margin-bottom: 0;
}

.top-background-container .slick-dots li button::before {
    font-size: 8px;
    color: #fff;
    background-color: transparent;
}

.top-background-container .slick-dots li.slick-active button::before {
    color: #fff;
    opacity: 1;
}

.top {
    position: relative;
}

.top-text-container {
    position: absolute;
    z-index: 1;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    letter-spacing: 3px;
}

.top-text-container p.jp {
    font-family: Yu Mincho;
    font-size: 60px;
    margin-bottom: 20px;
}

.top-text-container p.en {
    font-family: Roboto;
    font-size: 20px;
}

.top-bottom-text-container {
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 67.5%;
    color: lawngreen;
    font-family: Yu Gothic;
    font-size: 24px;
    font-weight: 500;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1538px;
    background-image: url("public/assets/img/bg_1.png");
    background-position: left 0px top -145px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-bottom: -250px;
}

.about-img-items,
.company-img-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.about-text-container {
    text-align: center;
}

.about-text {
    line-height: 2;
}

.about-img-item,
.products-img-item,
.company-img-item {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.about-img-item:hover,
.products-img-item:hover,
.company-img-item:hover {
    background: #344454;
}

.about-item-desc {
    font-size: 20px;
}

.about-item-desc,
.products-item-desc,
.company-item-desc {
    position: absolute;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-item-img,
.company-item-img {
    width: 360px;
    height: 360px;
}

.about-item-img,
.company-item-img,
.products-item-img {
    transition: all 0.5s ease;
}

.company-item-img:hover,
.about-item-img:hover,
.products-item-img:hover {
    opacity: 0.5;
    transform: scale(1.15);
}

.products-item-img {
    height: 599.99px;
}

.more {
    width: 61px;
}

.products-item-desc {
    font-size: 24px;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-img-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.case-study {
    background-image: url("public/assets/img/bg_2.png");
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: auto;
}

.case-study-items.slick-dotted.slick-slider {
    margin-bottom: 150px;
}

.case-study-items>.slick-dots {
    bottom: -50px;
}

.case-study-items .slick-dots li button::before {
    font-size: 8px;
    color: #fff;
    background-color: transparent;
}

.case-study-items .slick-dots li.slick-active button::before {
    color: #1c74bc;
    opacity: 1;
}

.case-study-item {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 400px;
    background-color: #ffffff;
    margin: 0 30px;
}

.case-study-item .case-study-img {
    float: left;
    width: 400px;
}

.case-study-item .case-study-desc {
    width: 400px;
    padding: 70px 25px;
    float: left;
    overflow: hidden;
    text-align: left;
}

.case-study-heading {
    display: inline-block;
}

.case-study-item .case-study-desc .case-study-heading .case,
.number {
    font-family: Roboto;
    color: #1c74bc;
}

.case-study-item .case-study-desc .case-study-heading .case {
    font-size: 20px;
    display: inline-block;
    -webkit-transform: rotate(90deg);
    vertical-align: center;
}

.case-study-item .case-study-desc .case-study-heading .number {
    font-size: 60px;
    display: inline-block;
}

.case-study-item .case-study-desc .desc {
    font-size: 27px;
    font-weight: 700;
    margin: 15px 0;
}

.case-study-item .case-study-desc .case-btn {
    padding: 5px 10px 3px;
    font-family: 'Yu Gothic';
    font-size: .88em;
    font-weight: 400;
    border: solid 1px #000;
    border-radius: 20px;
    background-color: rgba(238, 238, 238, 0);
}

.blue-prev-arrow {
    left: 22.2%;
    width: 60px;
    position: absolute;
    bottom: -50px;
    z-index: 1;
}

.blue-next-arrow {
    right: 22.2%;
    width: 60px;
    position: absolute;
    bottom: -50px;
    transform: scaleX(-1);
}

.info {
    padding-bottom: 125px;
}

.info-table {
    border-collapse: collapse;
    width: 100%;
}

.info-table td {
    height: 50px;
    padding: 10px;
}

.info-table td.title {
    font-weight: bold;
}

.info-footer {
    width: 63px;
    margin: 0 20px 0 auto;
    padding-top: 40px;
}

.info-recruit {
    overflow: hidden;
}

.info-recruit .text-box-container {
    display: flex;
    flex-direction: column;
    padding: 142px 167px 142px 120px;
    background-color: #1c74bc;
    color: #ffffff;
    width: 725px;
    height: 500px;
    float: left;
    align-items: center;
}

.info-recruit .text-box-container .heading {
    padding: 25px 27px 40px 17px;
    font-family: Roboto;
    font-size: 46px;
}

.info-recruit .text-box-container .heading span.heading-light {
    font-family: Roboto Light;
}

.info-recruit .text-box-container .body {
    padding: 25px 110px 40px 90px;
    font-family: Yu Gothic;
    font-size: 14px;
}

.img-box-container {
    position: absolute;
    float: left;
    right: 0;
    margin: 150px 0 0 0;
}

.company {
    background-image: url("public/assets/img/bg_3.png");
    background-position: right -22px bottom -344px;
    background-repeat: no-repeat;
    background-size: contain;
}

.company-bottom {
    display: flex;
    flex-direction: row;
    margin-top: 73px;
}

.bottom-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: Yu Gothic;
    justify-content: center;
}

.bottom-desc {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bottom-desc .bottom-desc-small {
    font-size: 1.25em;
}

.bottom-desc .bottom-desc-big {
    font-size: 2.19em;
}

.contact-desc-container {
    text-align: center;
}

.contact-content-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.contact-content-container .contact-phone {
    margin-right: 50px;
}

.contact-content-container .phone-icon {
    width: 32px;
    margin: 0 10px 10px 0;
    float: left;
}

.contact-content-container .contact-phone .phone-number {
    font-family: Roboto Light;
    font-size: 36px;
    letter-spacing: 2px;
    float: left;
}

.contact-content-container .contact-phone .working-hour {
    font-size: 11px;
    letter-spacing: 2px;
}

.contact-content-container .contact-btn {
    position: relative;
    width: 300px;
    height: 60px;
    border: solid 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.contact-content-container .contact-btn .more {
    width: 29.99px;
    position: absolute;
    top: 15px;
    right: 14px;
}

.site-footer {
    width: 100%;
    min-width: 1140px;
}

.site-footer .footer-sitemap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.site-footer .nav-title {
    font-family: Yu Gothic;
    font-weight: 700;
    font-size: 14px;
}

.site-footer .nav-list {
    font-size: 13px;
    font-weight: 400;
}

.site-footer .nav-list dd {
    padding: 10px 0;
}

.site-footer dt {
    padding: 15px 0;
}

.footer-logo {
    width: 200px;
    padding: 40px 0;
}

.copy-right {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    padding: 40px 0;
}

@media (max-width: 767px) {
    .header-top,
    .nav-links,
    .header-right,
    .top-bottom-text-container {
        display: none;
    }
    .header .header-container .header-logo .logo {
        width: 44px;
        margin: 0 20px;
    }
    .site-nav-open {
        display: block;
        border: none;
        background: none;
        margin-right: 20px;
        align-self: flex-end;
    }
    .header-nav .nav-links {
        text-align: center;
    }
    .header-nav .nav-links li {
        display: block;
        margin-right: 0px;
        color: #000;
        margin: 0 auto 20px;
    }
    .header .header-container .header-nav {
        flex-direction: column-reverse;
        align-items: center;
    }
    .top-background-item img {
        content: url("public/assets/img/img_visual_01_sp.jpg");
    }
    .top-text-container {
        width: 230px;
    }
    .top-text-container p.jp {
        font-size: 36px;
        margin-bottom: 20px;
        text-align: left;
        margin-left: 31px;
    }
    .top-text-container p.en {
        font-size: 14px;
        letter-spacing: 2px;
    }
    .section-heading {
        font-size: 28px;
        padding: 50px 50px;
    }
    section .content {
        padding: 20px 20px;
    }
    section .content .section-text {
        padding: 0px 0px 50px;
    }
    .about {
        background-image: url("public/assets/img/bg_1_sp.png");
        background-position: left -46px top 121px;
        margin-bottom: -270px;
    }
    .about-text {
        text-align: left;
        line-height: 1.6;
    }
    .about-text p {
        display: inline-block;
    }
    .about-img-items,
    .company-img-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
    .about-item-desc {
        font-size: 15px;
    }
    .about-item-img,
    .company-item-img {
        width: 222.5px;
        height: 222.5px;
    }
    .products-item-img {
        width: 500px;
        height: auto;
    }
    .products-img-items {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
    .case-study {
        background-image: url("public/assets/img/bg_2_sp.png");
        background-position: center bottom 0px;
        background-size: 100% auto;
    }
    .case-study-item {
        width: 250px;
        height: 450px;
        flex-direction: column;
    }
    .case-study-item .case-study-img {
        width: 250px;
    }
    .case-study-item .case-study-desc {
        width: 250px;
        padding: 30px 25px;
        float: left;
        overflow: hidden;
        text-align: left;
    }
    .case-study-item .case-study-desc .case-study-heading .case {
        font-size: 13px;
    }
    .case-study-item .case-study-desc .case-study-heading .number {
        font-size: 38px;
    }
    .case-study-item .case-study-desc .desc {
        font-size: 17px;
    }
    .blue-prev-arrow {
        left: 20px;
    }
    .blue-next-arrow {
        right: 20px;
    }
    .info {
        margin-bottom: 100px;
    }
    .info-table tr td:last-child {
        display: none;
    }
    .info-table td.title {
        font-weight: bold;
    }
    .info-recruit .text-box-container {
        width: 335px;
        height: 370px;
    }
    .img-box-container {
        width: 90%;
        height: 223px;
        margin: 280px 0 0 0;
    }
    .info-recruit .text-box-container {
        width: 100%;
        padding: 30px 56px;
    }
    .info-recruit .text-box-container .heading {
        font-size: 28px;
        padding: 30px 0;
        letter-spacing: 1.2px;
    }
    .info-recruit .text-box-container .body {
        font-size: 13px;
        padding: 0 50px 20px;
    }
    .blank {
        display: none;
    }
    .company {
        background-image: url("public/assets/img/bg_3_sp.png");
        background-position: right 0 bottom -70px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .company-item-text {
        font-size: 13px;
    }
    .contact-desc-container {
        padding: 0 60px;
    }
    .company-img-item:last-child {
        grid-column: 1/3;
    }
    .company-img-item:last-child .company-item-img {
        width: 100%;
        height: 110px;
    }
    .company-img-item:last-child .company-item-img img {
        content: url("public/assets/img/company_07_sp.jpg");
    }
    .company-bottom .bottom-text .bottom-bg img {
        height: 205px;
    }
    .company-bottom .bottom-img {
        content: url("public/assets/img/development_02_sp.jpg");
        height: 205px;
    }
    .contact-content-container {
        flex-direction: column;
    }
    footer .content {
        padding: 0;
    }
    .site-footer {
        min-width: 375px;
        max-width: 767px;
    }
    .site-footer .footer-sitemap {
        padding-bottom: 0;
        border-top: none;
        border-bottom: none;
        flex-direction: column;
    }
    .site-footer .footer-nav {
        /*    float: none;*/
        margin: 0;
        padding: 0;
        border-top: solid 1px #333333;
        overflow: hidden;
    }
    .site-footer .no-border-top {
        border-top: 0;
    }
    .site-footer .footer-nav .nav-title {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .site-footer .footer-nav .nav-title i {
        width: 11px;
        /*	height: 11px;*/
    }
    .site-footer .footer-nav .nav-list {
        padding: 0;
        height: 0;
    }
    .site-footer .footer-nav .nav-list dd {
        padding: 10px 0 10px 30px;
        border-top: solid 1px #fff;
        background-color: #f6f6f6;
    }
    .site-footer .external-link .footer-nav:nth-last-child(3) {
        border-bottom: solid 1px #333333;
    }
    .site-footer .external-link .footer-nav .additional-items {
        font-size: 13px;
        font-weight: 400;
        padding-left: 30px;
    }
    .site-footer .footer-nav .expand-btn {
        float: right;
        margin-right: 10px;
        content: url("public/assets/img/plus_icon.png");
    }
    .site-footer .footer-nav .expand-btn.expanded {
        content: url("public/assets/img/minus_icon.png");
    }
    .site-footer .footer-contact {
        flex-direction: column;
    }
    .copy-right {
        padding: 20px 0;
    }
}