@charset "UTF-8";

/* CSS Document */

body,
html {
    height: 100%;
    margin: 0;
    padding: 0
}

header {
    position: fixed;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35);
    display: flex;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    height: 80px;
    width: 80%;
}

.logo-container {
    width: 162px;
    padding: 20px;
}

.logo>img {
    width: 100%;
    height: auto
}

nav {
    flex: 1;
}

li {
    list-style-type: none
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-links>li {
    padding-right: 60px;
}

.nav-link {
    text-decoration: none;
    font-family: 'Yu Gothic';
    color: #333333;
    font-size: 15px;
    font-weight: 400;
}

.top-content {
    position: relative;
}

img {
    vertical-align: bottom
}

.presentation {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -130.5px;
    margin-top: -200.5px;
}

.presentation>div>p {
    font-family: 'Yu Mincho';
    color: #333333;
    font-size: 36px;
    font-weight: 400;
}

.presentation img {
    position: absolute;
    width: 261px;
    height: 241px;
}

.presentation>div {
    margin-left: 100px;
    margin-top: 110px;
    line-height: 10px;
}

.full-width {
    width: 100%;
}

.caption {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0px;
}

.biz-caption {
    height: 150px;
    background-image: -webkit-linear-gradient(180deg, #ff8f34 0%, #60d1bb 100%);
    background-image: -moz-linear-gradient(180deg, #ff8f34 0%, #60d1bb 100%);
    background-image: -o-linear-gradient(180deg, #ff8f34 0%, #60d1bb 100%);
    background-image: linear-gradient(-90deg, #ff8f34 0%, #60d1bb 100%);
    position: absolute;
    opacity: 0.7;
    bottom: 0px;
}

.caption-items {
    color: #ffffff;
    position: relative;
    display: flex;
    font-family: 'Yu Gothic';
    font-size: 15px;
    font-weight: 400;
    padding-left: 30px
}

.caption-items-left {
    width: 80%;
    display: flex;
    align-items: center;
}

.caption-items-left p:nth-child(2) {
    border: none;
    color: #000000;
    text-align: center;
    font-size: 12px;
    margin: 0 10px 0 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.caption-items-right {
    width: 20%;
    display: flex;
    flex-direction: row-reverse;
}

.middle-item {
    width: 100px;
    margin: 0px 50px 0px 50px;
    border: 0;
}

.arrow-right {
    margin: 0px 10px 4px 0px;
}

.caption-items li .middle-item {
    padding: 0px 25px 0px 25px;
}

.biz-cover-all {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    color: #343144;
}

.biz-items {
    display: flex;
}

.biz-item {
    position: relative;
}

.biz-item>img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.biz-item-caption {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-family: 'Yu Gothic';
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.biz-item1 .biz-item-caption {
    background-color: rgba(96, 209, 187, 0.8);
}

.biz-item2 .biz-item-caption {
    background-color: rgba(146, 188, 144, 0.8)
}

.biz-item3 .biz-item-caption {
    background-color: rgba(206, 163, 93, 0.8)
}

.biz-item4 .biz-item-caption {
    background-color: rgba(254, 143, 53, 0.8);
}

.biz-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em 0 3em 0;
}

.biz-main-title {
    font-family: 'Yu Mincho';
    color: #333333;
    font-size: 1.88em;
    font-weight: 400;
}

.biz-sub-title {
    width: 87px;
    height: 11px;
    font-family: 'CormorantGaramond';
    font-size: 0.88em;
    font-weight: 400;
}

.biz-sub-title>img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.about-section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center
}

.about-section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("images/about-us-bg.png");
    background-size: cover;
    padding-top: 203px;
    padding-bottom: 122px;
}

.about-section-content>div {
    width: 380px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-section-content>div>img {
    width: 100%;
    height: 100%;
}

.about-item-cap {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    line-height: 0px;
}

.about-section-content>div>div>p.eng-cap {
    font-family: CormorantGaramond;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.about-section-content>div>div>p.jp-cap {
    font-family: 'Yu Gothic';
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.about-heading {
    position: absolute;
    top: 0;
    display: inline-block;
    margin: 0 auto;
    padding-top: 87px;
    text-align: center;
}

.about-text {
    font-family: 'Yu Mincho';
    color: #333333;
    font-size: 30px;
    font-weight: 400;
}

.news {
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-heading {
    padding-top: 87px;
}

.news>div.news-heading {
    text-align: center;
}

.news>div.news-heading>div.extra {
    float: right;
    margin-right: 100px;
}

.news-text {
    font-family: 'Yu Mincho';
    color: #333333;
    font-size: 30px;
    font-weight: 400;
}

.news-table {
    border-collapse: collapse;
    width: 100%;
}

.extra {
    padding-bottom: 70px;
}

.news-table tr:first-child td {
    border-top: 1px solid rgb(191, 191, 191);
}

.news-table td {
    height: 50px;
    border-bottom: 1px solid rgb(191, 191, 191);
    padding: 10px;
}

.news-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.news-table button {
    width: 100px;
    height: 19px;
    background-color: #84bcb1;
    color: #ffffff;
    border: none;
}

.recruit {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.row2 {
    display: flex;
    flex-direction: row;
}

.row2>div {
    width: 480px;
    height: 300px;
    position: relative
}

.row2>div>img {
    width: 100%;
    height: auto;
    position: absolute;
}

.recruit-caption {
    position: absolute;
    right: 0;
    padding: 130px 200px;
}

.recruit-caption :not(:last-child) {
    text-align: center
}


/*
.recruit-caption > div {
	display: inline-block
}
*/

.major {
    font-family: 'Yu Mincho';
    color: #333333;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 10px
}

.minor {
    font-family: 'Yu Gothic';
    color: #333333;
    font-size: 15px;
    font-weight: 400;
}

.recruit-img {
    padding-bottom: 30px;
}

.centerized-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom-right-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.bottom-right-img>div>div {
    text-align: center;
}

.recruit-img-cap>span:first-child {
    font-family: ShinGoPro;
    color: #333333;
    font-size: 32px;
    font-weight: 400;
}

.recruit-img-cap:nth-child(3)>span {
    font-family: CormorantGaramond;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
}

.recruit-img-cap>img {
    width: 128px;
    height: 30px;
}

.recruit-img-cap:not(:last-child) {
    padding-bottom: 10px;
}

.footer {
    width: 100%;
    height: auto;
    background-image: -webkit-linear-gradient(180deg, #999999 0%, #818181 100%);
    background-image: -moz-linear-gradient(180deg, #999999 0%, #818181 100%);
    background-image: -o-linear-gradient(180deg, #999999 0%, #818181 100%);
    background-image: linear-gradient(-90deg, #999999 0%, #818181 100%);
}

.footer-content {
    padding: 50px 150px 30px 150px;
    display: flex;
    flex-direction: column
}

.footer-upper {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
}

.col {
    display: flex;
    flex-direction: column
}

.col:last-child {
    padding-right: 100px;
}

.col:first-child {
    padding-right: 150px;
}

.footer-text-content {
    font-size: 13px;
    font-weight: 400;
}

.footer-text {
    font-family: 'Yu Gothic';
    color: #ffffff;
}

.footer-text-heading {
    font-size: 16px;
    font-weight: 700;
}

.footer-head-expander {
    display: none;
}

.footer-bottom {
    padding-top: 50px;
}

.footer-bottom-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo-img {
    width: 162px;
    height: 48px;
    margin: 50px auto;
}

.footer-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-to {
    margin: auto 10px 15px auto;
    position: relative;
    width: 13px;
    height: 10px;
}

.link-to>img {
    width: 100%;
    height: auto
}

.sp-img,
.ham-btn,
.ham-btn-close {
    display: none;
}

@media (max-width: 767px) {
    header {
        width: 100%;
        min-width: 320px;
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
    }
    header .logo-container {
        width: 123px;
        vertical-align: middle;
        padding: 12px;
    }
    .sp-img {
        display: block;
    }
    .desk-img,
    .ham-btn-close,
    .caption-items-right,
    nav,
    .extra,
    .link-to {
        display: none;
    }
    .caption-items-left,
    .caption-items-left p,
    .caption-items-left button {
        display: inline-block;
    }
    .caption {
        height: auto;
    }
    nav {
        background-color: #fff;
        margin-left: 80px;
    }
    .ham-btn {
        z-index: 1;
        display: inline-block;
        float: right;
        border: none;
        background: none;
    }
    .ham-btn-close {
        z-index: 1;
        float: right;
        border: none;
        background: none;
    }
    .ham-btn img,
    .ham-btn-close img {
        width: 30px;
    }
    .ham-btn-close {
        margin-bottom: 270px;
    }
    nav ul {
        padding: 100px 0 20px 0;
        list-style-type: none;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 0 0 30px 0;
    }
    nav ul li a {
        padding: 5px 10px;
        font-size: 1.15em;
        text-decoration: none;
        letter-spacing: .15em;
        text-transform: uppercase;
        color: #333333;
        -webkit-transition: color .3s;
        transition: color .3s;
    }
    .biz-items {
        flex-direction: column;
    }
    .biz-item-caption {
        height: 20%;
    }
    .biz-item1 img {
        content: url("images/biz-img-1-sp.png");
    }
    .biz-item2 img {
        content: url("images/biz-img-2-sp.png");
    }
    .biz-item3 img {
        content: url("images/biz-img-3-sp.png");
    }
    .biz-item4 img {
        content: url("images/biz-img-4-sp.png");
    }
    .news-content {
        margin: 0px;
        flex-direction: column;
    }
    .news-heading {
        padding-bottom: 70px;
    }
    .row1>img {
        content: url("images/recruit1-sp.png");
    }
    .recruit-caption {
        padding: 30px 115px;
    }
    .row2 {
        flex-direction: column;
    }
    .row2>div {
        width: 100%;
    }
    .footer-content {
        padding: 0px 0px 0px 0px;
    }
    .footer-upper,
    .footer-bottom>div {
        flex-direction: column;
    }
    .footer-bottom>div {
        align-items: center;
    }
    .footer-upper {
        align-items: flex-start;
    }
    .footer-upper>div:first-child {
        align-self: center;
    }
    .col:first-child {
        padding-right: 0px;
    }
    .col:not(:first-child) {
        width: -webkit-fill-available;
        padding: 0px 30px;
        border-top: 2px #aaaaaa solid;
        margin: 0px 30px;
    }
    .col:last-child {
        border-bottom: 2px #aaaaaa solid;
    }
    .footer-member,
    .footer-left {
        padding-left: 30px;
    }
    .footer-left {
        flex-direction: column;
        align-self: flex-start;
    }
    .footer-right {
        padding-bottom: 50px;
    }
    .footer-head-expander {
        display: block;
    }
    .footer-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .invisible {
        display: none;
    }
    .footer-head-expander {
        width: 15px;
        height: 15px;
        margin-left: auto;
    }
    .footer-head-expander>img {
        width: 100%;
        height: auto;
    }
}